/* feedbacks.css */

/* Estilo para o corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(121, 120, 124);
    background: linear-gradient(209deg, rgba(121, 120, 124, 1) 0%, rgba(47, 94, 179, 1) 18%, rgba(53, 42, 27, 1) 43%, rgba(19, 27, 115, 1) 58%, rgba(152, 145, 124, 1) 75%, rgba(101, 97, 83, 1) 89%, rgba(158, 126, 8, 1) 100%);
    color: #fff;
}

/* Estilo para o cabeçalho */
h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo para o formulário */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Estilo para os rótulos do formulário */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}

/* Estilo para os inputs de texto */
input[type="text"],
select {
    width: calc(100% - 24px);
    padding: 15px 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
    font-size: 20px;
    transition: all 0.3s ease;
}

/* Estilo para os inputs de texto quando focados */
input[type="text"]:focus,
select:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: #000;
}

/* Estilo para os botões */
button {
    width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #4a77ed, #6ea7ff);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo para o botão quando passa o mouse */
button:hover {
    background: linear-gradient(to right, #4a77ed, #6ea7ff);
}

/* Estilo para a lista de números */
#numeroList {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os itens da lista de números */
#numeroList li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Estilo para os itens da lista de números quando passa o mouse */
#numeroList li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Estilo para o questionário de contato */
#questionarioContato {
    display: none;
}


/* Estilo para o botão de enviar */
input[type="submit"] {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de apontar */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilo para o botão de enviar quando hover (passar o mouse por cima) */
input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura */
}

/* Estilos para os botões do menu */
#menuContato {
    display: none;
    margin-top: 20px;
    text-align: center;
}

#menuContato h3 {
    margin-bottom: 10px;
}

#menuContato ul {
    list-style: none;
    padding: 0;
}

#menuContato li {
    display: block;
    margin-bottom: 10px;
}

#menuContato button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#menuContato button:hover {
    opacity: 0.8;
}

/* Estilos para os botões individuais */
#menuContato #nao_abre_nao_responde {
    background-color: #ff0000; /* Vermelho */
}

#menuContato #marcar_visita {
    background-color: #00ff00; /* Verde */
}

#menuContato #marcar_oportunidade {
    background-color: #0000ff; /* Azul */
}

#menuContato #fecho {
    background-color: #ffff00; /* Amarelo */
}
