/* Estilo do menu */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.panel h2 {
    color: #333;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel ul li {
    margin-bottom: 10px;
}

.panel ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.panel ul li a:hover {
    color: #0056b3;
}

/* Estilo para o botão do menu */
.menu-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #0056b3;
}
