<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Controlo de Utilizadores</title>
    <link rel="stylesheet" type="text/css" href="/static/centro_control_user.css">
</head>
<body>
    <header>
        <h1>Centro de Controlo de Utilizadores</h1>
    </header>

    <section id="gerenciamento-usuarios">
        <h2>Gerir Permissões de Utilizadores</h2>
        <div id="usuarios-lista">
            <h3>Lista de Utilizadores</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Função</th>
                        <th>Atribuir Função</th>
                    </tr>
                </thead>
                <tbody id="usuarios-corpo">
                    <!-- Os dados dos usuários serão carregados dinamicamente aqui -->
                </tbody>
            </table>
        </div>
    </section>

    <button id="gravar-dados">Gravar Alterações</button>

    <footer>
        <p>&copy; Painel Administração + Energias -  SmartTeams - @ RR | FuturCabo 2024</p>
    </footer>

    <!-- Adicione scripts JavaScript ou links para scripts externos, se necessário -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='centro_control_user.js') }}"></script>
</body>
</html>
