<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira de Clientes</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/static/wallet.css">

</head>
<body>

<nav class="nav">
  <ul class="nav__links">
    <li class="nav__link active">
      <a href="#"><i class='bx bxs-wrench'></i></a>
    </li>
    <li class="nav__link">
      <a href="#"><i class='bx bxs-wallet'></i></a>
    </li>
    <li class="nav__link">
      <a href="#"><i class='bx bxs-euro'></i></a>
    </li>
    <li class="nav__link">
      <a href="#"><i class='bx bxs-star'></i></a>
    </li>
    <div class="nav__light"></div>
  </ul>
</nav>

<div class="content active" id="content-carrinho">
    <main class="main">
        <section class="input-section">
            <h2 class="section-title">Entrada de Dados</h2>
            <form id="input-form" class="form">
                <label for="data" class="form-label">Informações:</label>
                <textarea id="data" class="form-textarea" rows="4" placeholder="Insira as informações aqui..."></textarea>
                <button type="submit" class="form-button">Enviar</button>
            </form>
        </section>
        <section class="processing-section">
            <h2 class="section-title">Em Tratamento</h2>
            <div id="processing-data" class="data-container processing-container">
                <ul>
                    {% for client in clients %}
                    <li>{{ client }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="output-section">
            <h2 class="section-title">Saída de Dados</h2>
            <div id="output-data" class="data-container output-container">
                <!-- Área para exibir dados de saída -->
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="footer-text">&copy; Carteira de Clientes + Energias -  SmartTeams - @ RR | FuturCabo 2024</p>
    </footer>
</div>

<div class="content" id="content-carteira">Conteúdo da Carteira</div>

<div class="content" id="content-vaga"></div>
<div class="content" id="content-magicboard">Conteúdo do MagicBoard</div>
<script src="{{ url_for('static', filename='wallet.js') }}"></script>
</body>
</html>
