<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Territórios</title>
    <link rel="stylesheet" type="text/css" href="/static/territorios.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

</head>
<body>
    <h2>Territórios</h2>
    <div id="map"></div>
    <div id="message-container" class="message"></div>
    <button id="consultar-marcacoes">Consultar Marcações</button>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='territorios.js') }}"></script>
</body>
</html>
